Repository LemonScone/pixel-art, pull requests merged in 2023-07, with the labels that each got.

#77 [Enhance] resizeGrid 코드 최적화
  frontend/src/components/Pixel.tsx
  frontend/src/utils/grid.ts
Labels: frontend

#78 [Feature] 로그인/로그아웃 구현
  backend/src/app.controller.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/access-token.dto.ts
  backend/src/auth/dto/auth-credentials.dto.ts
  backend/src/auth/dto/auth-login-response.dto.ts
  backend/src/auth/dto/auth-refresh-response.dto.ts
  backend/src/auth/guards/jwt.guard.ts
  backend/src/auth/strategies/jwt-refresh.strategy.ts
  backend/src/main.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/components/Navbar.test.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/SignIn/SignInButton.tsx
  frontend/src/components/SignIn/SignInForm.test.tsx
  frontend/src/components/SignIn/SignInForm.tsx
  frontend/src/components/SignOut/SignOutButton.tsx
  frontend/src/components/common/SwitchCase.tsx
  frontend/src/constants/httpStatus.ts
  frontend/src/constants/index.ts
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useSignInFormValidator.ts
  frontend/src/pages/Editor.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/routes/PublicRoute/PublicRoute.tsx
  frontend/src/routes/PublicRoute/index.ts
  frontend/src/tests/fixtures/auth.ts
  frontend/src/tests/fixtures/grid.ts
  frontend/src/tests/index.css
  frontend/src/tests/mocks/MockPointerEvent.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/setup.ts
  frontend/src/tests/utils/getBucketFillGridAndIndexes.test.ts
  frontend/src/tests/utils/getGridBackgroundIndex.test.ts
  frontend/src/tests/utils/getMoveIndexes.test.ts
  frontend/src/tests/utils/getTargetIndexes.test.ts
  frontend/src/tests/utils/isGridsEqual.test.ts
  frontend/src/tests/utils/resizeGrid.test.ts
  frontend/src/types/Children.ts
  frontend/src/utils/classNames.ts
  frontend/src/utils/test-utils.tsx
  frontend/src/utils/validators.ts
  frontend/tests/setup.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: backend, frontend

#81 [Feat] redux-toolkit 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Bucket.test.tsx
  frontend/src/components/Bucket.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/ColorPallete.tsx
  frontend/src/components/ColorSwatch.test.tsx
  frontend/src/components/ColorSwatch.tsx
  frontend/src/components/Eraser.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/Move.test.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/Navbar.test.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Pencil.test.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/SignIn/SignInForm.test.tsx
  frontend/src/components/ToolContainer.test.tsx
  frontend/src/components/ToolContainer.tsx
  frontend/src/constants/index.ts
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useRedux.ts
  frontend/src/main.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/routes/PublicRoute/PublicRoute.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/authSlice.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/store/slices/toolsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/types/Auth.ts
  frontend/src/utils/color.ts
  frontend/src/utils/test-utils.tsx
Labels: pair, frontend

#84 [Feature] SSL 적용 (#83)
  .github/workflows/deploy_backend.yml
  backend/.gitignore
  backend/package.json
  backend/src/app.module.ts
  backend/src/envs/helper/env.helper.ts
  backend/src/main.ts
Labels: pair, deploy

#85 Fix: https 서버 포트를 8090으로 변경
  backend/src/main.ts
Labels: backend, pair

#86 [Deploy] https 서버 포트를 8090으로 변경 (#85)
  backend/src/main.ts
Labels: backend, pair, deploy

#88 [Feature] redux toolkit query 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/auth-login-response.dto.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.test.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/SignIn/SignInForm.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/store/apis/authApi.ts
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/authSlice.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/setup.ts
  frontend/src/types/Auth.ts
Labels: backend, pair, frontend

#95 [Feature] projects load 기능 추가
  backend/src/projects/dto/create-project-dto.ts
  backend/src/projects/dto/frame-dto.ts
  backend/src/projects/projects.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Animation.tsx
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/ProjectsListItem.test.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/common/Modal.test.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/Skeleton.tsx
  frontend/src/constants/index.ts
  frontend/src/desc.d.ts
  frontend/src/hooks/usePortal.ts
  frontend/src/pages/Editor.tsx
  frontend/src/store/apis/authApi.ts
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/index.ts
  frontend/src/tests/fixtures/grid.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/types/BoxShadow.ts
  frontend/src/types/Project.ts
  frontend/src/utils/cssParse.ts
  frontend/src/utils/focusable.ts
  frontend/src/utils/random.ts
  frontend/src/utils/storage.ts
Labels: backend, frontend

#97 [Feature] Project Save 구현
  backend/src/projects/dto/create-project-dto.ts
  backend/src/projects/dto/frame-dto.ts
  backend/src/projects/dto/update-project-dto.ts
  backend/src/projects/frame.model.ts
  backend/src/projects/project.model.ts
  backend/src/projects/projects.service.ts
  backend/src/users/dto/update-user-current.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/ProjectsListItem.test.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/common/Toast/ToastConstants.ts
  frontend/src/components/common/Toast/ToastIcon.tsx
  frontend/src/components/common/Toast/ToastList.tsx
  frontend/src/components/common/icon/SpinIcon.tsx
  frontend/src/constants/httpMethod.ts
  frontend/src/hooks/useInterval.ts
  frontend/src/hooks/useModal.ts
  frontend/src/index.css
  frontend/src/pages/Editor.tsx
  frontend/src/pages/Root.tsx
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/apis/usersApi.ts
  frontend/src/store/index.ts
  frontend/src/store/projectsQuery.ts
  frontend/src/store/slices/authSlice.ts
  frontend/src/store/slices/notificationSlice.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/store/usersQuery.ts
  frontend/src/types/Toast.ts
  frontend/src/utils/cssParse.ts
  frontend/src/utils/pause.ts
  frontend/src/utils/storage.ts
  frontend/tailwind.config.js
Labels: backend, frontend

#99 [Feature] Project 삭제 구현
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/Toast/ToastList.tsx
  frontend/src/main.tsx
  frontend/src/pages/Root.tsx
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/apis/usersApi.ts
  frontend/src/store/index.ts
  frontend/src/store/projectsQuery.ts
  frontend/src/store/slices/notificationSlice.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
  frontend/src/types/Auth.ts
  frontend/src/types/Project.ts
  frontend/src/utils/storage.ts
Labels: frontend

#101 [Enhancement] Client state 구조 변경
  backend/src/auth/auth.service.ts
  backend/src/auth/strategies/jwt-refresh.strategy.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.service.ts
  backend/src/users/users.service.ts
  backend/src/utils/httpExceptionFilter.ts
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/ProjectsListItem.test.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/Title.tsx
  frontend/src/main.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/store/apis/authApi.ts
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/index.ts
  frontend/src/store/projectsQuery.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
  frontend/src/utils/storage.ts
Labels: backend, frontend

#104 [Feature] New project 기능 추가
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.service.ts
  frontend/src/components/NewProject.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
Labels: backend, frontend

#107 [Feature] Reset 기능 추가
  frontend/src/components/ResetProject.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/tailwind.config.js
Labels: frontend

#109 [Feature] Frame 기능 추가
  backend/src/projects/dto/frame-dto.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ColorPallete.tsx
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/ColorSwatch.tsx
  frontend/src/components/FrameList.test.tsx
  frontend/src/components/FrameList.tsx
  frontend/src/components/FrameListItem.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/NewProject.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/ResetProject.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/Toast/ToastList.tsx
  frontend/src/index.css
  frontend/src/pages/Editor.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/utils/getFrameInterval.test.ts
  frontend/src/types/Project.ts
  frontend/src/utils/getFrameInterval.ts
Labels: backend, frontend

#111 [Feature] Preview 기능
  frontend/src/components/Animation.tsx
  frontend/src/components/FrameList.tsx
  frontend/src/components/FrameListItem.tsx
  frontend/src/components/GlobalModal.tsx
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/LoadProjectsModal.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/Preview.tsx
  frontend/src/components/PreviewContainer.tsx
  frontend/src/components/PreviewHandler.tsx
  frontend/src/components/PreviewModal.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/Title.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/modalSlice.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
  frontend/src/types/Modal.ts
Labels: backend

#113 [Feature] Undo/Redo 기능 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Bucket.test.tsx
  frontend/src/components/Bucket.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/ColorPallete.tsx
  frontend/src/components/ColorSwatch.test.tsx
  frontend/src/components/ColorSwatch.tsx
  frontend/src/components/Eraser.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/FrameList.test.tsx
  frontend/src/components/FrameList.tsx
  frontend/src/components/FrameListItem.tsx
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/Move.test.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/Pencil.test.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/Preview.tsx
  frontend/src/components/PreviewContainer.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/ToolContainer.test.tsx
  frontend/src/components/UndoRedo.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/store/index.ts
  frontend/src/store/projectsQuery.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
Labels: bug, frontend

#116 [Deploy] New, Reset, Frame, Preview, Undo/Redo 기능 추가
  backend/src/projects/dto/frame-dto.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Animation.tsx
  frontend/src/components/Bucket.test.tsx
  frontend/src/components/Bucket.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/ColorPallete.tsx
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/ColorSwatch.test.tsx
  frontend/src/components/ColorSwatch.tsx
  frontend/src/components/Eraser.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/FrameList.test.tsx
  frontend/src/components/FrameList.tsx
  frontend/src/components/FrameListItem.tsx
  frontend/src/components/GlobalModal.tsx
  frontend/src/components/LoadProject.test.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/LoadProjectsModal.tsx
  frontend/src/components/Move.test.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/NewProject.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/Pencil.test.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/Preview.tsx
  frontend/src/components/PreviewContainer.tsx
  frontend/src/components/PreviewHandler.tsx
  frontend/src/components/PreviewModal.tsx
  frontend/src/components/ProjectsListItem.tsx
  frontend/src/components/ResetProject.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/ToolContainer.test.tsx
  frontend/src/components/UndoRedo.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/Toast/ToastList.tsx
  frontend/src/index.css
  frontend/src/pages/Editor.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/store/apis/projectsApi.ts
  frontend/src/store/index.ts
  frontend/src/store/projectsQuery.ts
  frontend/src/store/slices/modalSlice.ts
  frontend/src/store/slices/projectsSlice.ts
  frontend/src/tests/fixtures/projectsStore.ts
  frontend/src/tests/utils/getFrameInterval.test.ts
  frontend/src/types/Modal.ts
  frontend/src/types/Project.ts
  frontend/src/utils/getFrameInterval.ts
  frontend/tailwind.config.js
Labels: backend, deploy, frontend
