Repository LemonScone/pixel-art, pull requests merged in 2023-05, with the labels that each got.

#4 [Feature] 인증 추가
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/auth-create-user.dto.ts
  backend/src/auth/dto/auth-crendentials.dto.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/user.model.ts
Labels: backend, pair

#6 [Feat] swagger 설치 및 적용
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/main.ts
  backend/src/utils/swagger.ts
Labels: backend, pair

#9 [Feature] 리액트 프로젝트 초기화
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: pair, frontend

#10 [Feature] 배포를 위한 Github Action 추가
  .github/workflows/deploy.yml
Labels: deploy

#11 [Feature] 배포
  .github/workflows/deploy.yml
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/auth-create-user.dto.ts
  backend/src/auth/dto/auth-crendentials.dto.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/user.model.ts
  backend/src/main.ts
  backend/src/utils/swagger.ts
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: deploy

#15 [Feature] exception filter 추가 및 전역 적용
  backend/src/main.ts
  backend/src/utils/httpExceptionFilter.ts
Labels: backend, pair

#16 Deploy
  .github/workflows/deploy.yml
  backend/src/main.ts
  backend/src/utils/httpExceptionFilter.ts
Labels: deploy

#17 [Feature] projects 관련 API 생성
  backend/src/app.module.ts
  backend/src/projects/dto/create-project-dto.ts
  backend/src/projects/dto/frame-dto.ts
  backend/src/projects/dto/update-project-dto.ts
  backend/src/projects/frame.model.ts
  backend/src/projects/project.model.ts
  backend/src/projects/projects.controller.spec.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.module.ts
  backend/src/projects/projects.service.spec.ts
  backend/src/projects/projects.service.ts
Labels: backend

#22 [Deploy] artworks 관련 API 생성 (#21)
  backend/src/app.module.ts
  backend/src/artworks/artworks.controller.spec.ts
  backend/src/artworks/artworks.controller.ts
  backend/src/artworks/artworks.module.ts
  backend/src/artworks/artworks.service.spec.ts
  backend/src/artworks/artworks.service.ts
Labels: deploy
