Repository LemonScone/pixel-art, pull requests merged in 2023-06, with the labels that each got.

#19 [Feature] 인증 로직 변경
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/access-token.dto.ts
  backend/src/auth/dto/auth-create-user.dto.ts
  backend/src/auth/dto/auth-credentials.dto.ts
  backend/src/auth/dto/auth-login-response.dto.ts
  backend/src/auth/dto/auth-logout-response.dto.ts
  backend/src/auth/dto/auth-refresh-response.dto.ts
  backend/src/auth/guards/jwt-refresh.guard.ts
  backend/src/auth/guards/jwt.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/payload.model.ts
  backend/src/auth/strategies/jwt-refresh.strategy.ts
  backend/src/auth/token.model.ts
  backend/src/main.ts
  backend/src/users/dto/users-register-response.dto.ts
  backend/src/users/dto/users-register.dto.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/utils/swagger.ts
Labels: backend

#23 [Deploy] 인증 로직 변경 (#19)
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/access-token.dto.ts
  backend/src/auth/dto/auth-create-user.dto.ts
  backend/src/auth/dto/auth-credentials.dto.ts
  backend/src/auth/dto/auth-login-response.dto.ts
  backend/src/auth/dto/auth-logout-response.dto.ts
  backend/src/auth/dto/auth-refresh-response.dto.ts
  backend/src/auth/guards/jwt-refresh.guard.ts
  backend/src/auth/guards/jwt.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/payload.model.ts
  backend/src/auth/strategies/jwt-refresh.strategy.ts
  backend/src/auth/token.model.ts
  backend/src/main.ts
  backend/src/users/dto/users-register-response.dto.ts
  backend/src/users/dto/users-register.dto.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/src/utils/swagger.ts
Labels: deploy

#28 [Enhance] projects 관련 API 개선
  backend/src/auth/guards/jwt.guard.ts
  backend/src/projects/dto/create-project-dto.ts
  backend/src/projects/dto/update-project-dto.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.module.ts
  backend/src/projects/projects.service.ts
Labels: enhancement, backend

#29 [Feature] tailwindcss 설치 및 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: frontend

#30 [Deploy] routing guard 추가 및 taildwindcss 적용
  backend/src/auth/guards/jwt.guard.ts
  backend/src/auth/strategies/jwt-refresh.strategy.ts
  backend/src/projects/dto/create-project-dto.ts
  backend/src/projects/dto/update-project-dto.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.module.ts
  backend/src/projects/projects.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: deploy

#33 [Feature] 그림판 UI 작업
  frontend/__mocks__/MockPointerEvent.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/constants/index.ts
  frontend/src/fixtures/grid.ts
  frontend/src/models/index.ts
  frontend/src/utils/grid.ts
  frontend/tailwind.config.js
  frontend/tests/setup.ts
  frontend/tests/utils/getTargetIndexes.test.ts
  frontend/tests/utils/resizeGrid.test.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: frontend

#34 [Deploy] 그림판 UI 작업 (#33)
  frontend/__mocks__/MockPointerEvent.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/constants/index.ts
  frontend/src/fixtures/grid.ts
  frontend/src/models/index.ts
  frontend/src/utils/grid.ts
  frontend/tailwind.config.js
  frontend/tests/setup.ts
  frontend/tests/utils/getTargetIndexes.test.ts
  frontend/tests/utils/resizeGrid.test.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: deploy

#37 [Enhance] pixel hover 개선
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/constants/index.ts
  frontend/src/utils/color.ts
  frontend/src/utils/grid.ts
  frontend/tests/utils/getGridBackgroundIndex.test.ts
Labels: enhancement, frontend

#39 [Feature] pen, eraser 기능 추가
  frontend/.eslintrc.cjs
  frontend/.prettierrc.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Bucket.tsx
  frontend/src/components/Dimensions.tsx
  frontend/src/components/Eraser.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/EyeDropper.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/NewProject.tsx
  frontend/src/components/Pencil.test.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/PreviewHandler.tsx
  frontend/src/components/PublishToggleSwitch.test.tsx
  frontend/src/components/PublishToggleSwitch.tsx
  frontend/src/components/ResetProject.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/ToolConatiner.tsx
  frontend/src/components/ToolContainer.test.tsx
  frontend/src/components/UndoRedo.tsx
  frontend/src/hooks/useOutsideClick.ts
  frontend/src/hooks/useOutsidePointerUp.ts
  frontend/src/types/Indexable.ts
  frontend/src/types/Tool.ts
  frontend/src/utils/test-utils.tsx
  frontend/tailwind.config.js
Labels: frontend

#41 [Feature] color pallete 기능 추가
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/ColorPallete.tsx
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/ColorSwatch.test.tsx
  frontend/src/components/ColorSwatch.tsx
  frontend/src/constants/index.ts
Labels: frontend

#43 [Feature] grid, pixel size resize 추가
  frontend/src/App.tsx
  frontend/src/components/Dimensions.tsx
  frontend/src/components/NumberPicker.test.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/PixelSize.test.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/PublishToggleSwitch.test.tsx
  frontend/src/components/PublishToggleSwitch.tsx
  frontend/src/components/Title.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/index.css
  frontend/src/reducers/gridReducer.ts
  frontend/tailwind.config.js
Labels: frontend

#48 [Bugfix] Grid resize 기능 수정
  frontend/src/App.tsx
  frontend/src/components/NumberPicker.test.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/constants/index.ts
Labels: frontend

#51 [Deploy] Tool 기능 추가
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Bucket.test.tsx
  frontend/src/components/Bucket.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/ColorPallete.tsx
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/ColorSwatch.test.tsx
  frontend/src/components/ColorSwatch.tsx
  frontend/src/components/Eraser.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/NewProject.tsx
  frontend/src/components/NumberPicker.test.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/Pencil.test.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/PixelSize.test.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/PreviewHandler.tsx
  frontend/src/components/PublishToggleSwitch.test.tsx
  frontend/src/components/PublishToggleSwitch.tsx
  frontend/src/components/ResetProject.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/ToolContainer.test.tsx
  frontend/src/components/ToolContainer.tsx
  frontend/src/components/UndoRedo.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/useOutsideClick.ts
  frontend/src/hooks/useOutsidePointerUp.ts
  frontend/src/index.css
  frontend/src/reducers/gridReducer.ts
  frontend/src/types/Indexable.ts
  frontend/src/types/Tool.ts
  frontend/src/utils/color.ts
  frontend/src/utils/grid.ts
  frontend/src/utils/test-utils.tsx
  frontend/tailwind.config.js
  frontend/tests/utils/getBucketFillGridAndIndexes.test.ts
  frontend/tests/utils/getGridBackgroundIndex.test.ts
Labels: deploy, frontend

#50 [Enhance] Pixel 컴포넌트 리렌더링 개선
  frontend/src/App.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/reducers/gridReducer.ts
  frontend/src/types/NestedPartial.ts
  frontend/tests/utils/getBucketFillGridAndIndexes.test.ts
Labels: enhancement, frontend

#52 [Feature] router 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.tsx
  frontend/src/main.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/Gallery.tsx
  frontend/src/pages/Root.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/index.ts
  frontend/src/routes/AppRoutes.tsx
Labels: frontend

#54 [ Deploy] Move 기능 추가, routing 처리, 리렌더링 개선
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Move.test.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/ToolContainer.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/index.ts
  frontend/src/main.tsx
  frontend/src/pages/Editor.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/Gallery.tsx
  frontend/src/pages/Root.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/index.ts
  frontend/src/reducers/gridReducer.ts
  frontend/src/routes/AppRoutes.tsx
  frontend/src/types/NestedPartial.ts
  frontend/src/types/Tool.ts
  frontend/src/utils/grid.ts
  frontend/tests/utils/getBucketFillGridAndIndexes.test.ts
  frontend/tests/utils/getMoveIndexes.test.ts
Labels: deploy, frontend

#56 [Enhance] commit 전에 prettier, eslint, type check, test
  .github/workflows/deploy.yml
  frontend/.husky/pre-commit
  frontend/.prettierrc.json
  frontend/__mocks__/MockPointerEvent.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/Bucket.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/NewProject.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/PreviewHandler.tsx
  frontend/src/components/PublishToggleSwitch.tsx
  frontend/src/components/ResetProject.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/ToolContainer.tsx
  frontend/src/components/UndoRedo.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/hooks/useOutsideClick.ts
  frontend/src/main.tsx
  frontend/src/types/NestedPartial.ts
  frontend/src/utils/color.ts
  frontend/tests/setup.ts
Labels: deploy, frontend

#58 [Deploy] commit 전에 prettier, eslint, type check, test (#56)
  .github/workflows/deploy.yml
  frontend/.husky/pre-commit
  frontend/.prettierrc.json
  frontend/__mocks__/MockPointerEvent.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/Bucket.tsx
  frontend/src/components/ColorPallete.test.tsx
  frontend/src/components/Eraser.tsx
  frontend/src/components/LoadProject.tsx
  frontend/src/components/Move.tsx
  frontend/src/components/NewProject.tsx
  frontend/src/components/NumberPicker.tsx
  frontend/src/components/Pencil.tsx
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/components/PixelSize.tsx
  frontend/src/components/PreviewHandler.tsx
  frontend/src/components/PublishToggleSwitch.tsx
  frontend/src/components/ResetProject.tsx
  frontend/src/components/SaveProject.tsx
  frontend/src/components/Title.tsx
  frontend/src/components/ToolContainer.tsx
  frontend/src/components/UndoRedo.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/hooks/useOutsideClick.ts
  frontend/src/main.tsx
  frontend/src/types/NestedPartial.ts
  frontend/src/utils/color.ts
  frontend/tests/setup.ts
Labels: deploy

#60 [Bugfix] tests/index.css 추가
  frontend/.gitignore
  frontend/tests/index.css
Labels: frontend

#61 [Deploy] tests/index.css 추가 (#60)
  frontend/.gitignore
  frontend/tests/index.css
Labels: frontend

#64 [Enhance] code splitting 추가
  frontend/package.json
  frontend/src/routes/AppRoutes.tsx
Labels: deploy, frontend

#65 [Deploy] code splitting 추가 (#64)
  frontend/package.json
  frontend/src/routes/AppRoutes.tsx
Labels: deploy, frontend

#67 [Enhance] github action workflows 수정
  .github/workflows/deploy_backend.yml
  .github/workflows/deploy_frontend.yml
  backend/src/utils/httpExceptionFilter.ts
Labels: pair, deploy

#68 [Deploy] github action workflows 수정 (#67)
  .github/workflows/deploy_backend.yml
  .github/workflows/deploy_frontend.yml
  backend/src/utils/httpExceptionFilter.ts
Labels: pair, deploy

#69 [Deploy] github actions paths 수정
  .github/workflows/deploy_backend.yml
  .github/workflows/deploy_frontend.yml
  frontend/src/routes/AppRoutes.tsx
Labels: deploy

#70 [Deploy] github actions workflows paths 수정
  .github/workflows/deploy_backend.yml
  .github/workflows/deploy_frontend.yml
  frontend/src/pages/Gallery.tsx
Labels: deploy

#71 [Deploy] github actions workflows target 옵션 수정
  .github/workflows/deploy_frontend.yml
  frontend/src/pages/Gallery.tsx
Labels: pair, deploy

#72 [Deploy] github actions workflows target 옵션 수정
  .github/workflows/deploy_frontend.yml
  frontend/src/pages/Gallery.tsx
Labels: deploy

#73 [Deploy] github actions workflows target secret 설정
  .github/workflows/deploy_frontend.yml
  frontend/src/pages/Gallery.tsx
Labels: pair, deploy

#75 [Enhance] Pixel 컴포넌트 리렌더링 개선
  frontend/src/components/Pixel.test.tsx
  frontend/src/components/Pixel.tsx
  frontend/src/components/PixelContainer.tsx
  frontend/src/fixtures/grid.ts
  frontend/src/reducers/gridReducer.ts
  frontend/src/utils/grid.ts
  frontend/tests/utils/isGridsEqual.test.ts
Labels: frontend
